body{
    font-family: sans-serif;
    background: #F2F5F5;

}



header{
    background: black;
}

ul {
    padding:0;

}

nav ul {
    margin:0;
    height: 40px;
}

nav ul li{
    display: inline-block;
    color: white;
    height: 40px;
    padding: 10px 15px;
    margin-left:-4px;
    text-align: center;
    vertical-align: middle;
    //font-family: sans-serif;font-family: sans-serif;
    list-style-type: none;
    font-size: 14px;
    letter-spacing:0.5px;
}

nav ul li:hover{
    background: #88c32e;
}


.logo{
    background: url(img/searchlight_icon_rollover.png) no-repeat;
    height: 40px;
    width: 80px;
    padding-right: 10px;
    float: left;

}

.no_padding {
    padding:0px;

}


.top_informative_line {
    color: #78AE43;
    padding:5px 10px;
    font-weight:100;
    height: 30px;
    border-bottom: 1px solid #dddddd;


}

.nav_list li.selected{
    background:#5f5f5f;;
}

.nav_list li:hover{
    background: #88c32e;
}

.my_margin{
    margin:10px;
}


.row.my_margin{
    margin:10px;
}

.row{
    margin:0px;
}


.my_panel{

    box-shadow: 0 0 4px #ddd;

}


.my_panel_row{
    border-bottom: 1px solid #dddddd;
    padding:5px 0;
}



.my_panel_item{
    font-size: 14px;
    padding-top: 5px


}

.my_panel_item_name{
    color: #01bcda;
    padding: 5px 10px 5px 10px;



}

.my_panel_title{
    height: 34px;
    color:white;
    padding: 10px 5px;
    font-size: 14px;
}

.my_grey{
    background:#5F5F5F;
    color:white;

}

.my_green{
    background: #75b039; //#88c32e;
    color: white;

}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;

}

input{
    margin: 5px 0 0 5px;
}

.my_panel_row_selected{
    background: #75b039;
    color: white;
}

.my_panel_row_selected .my_panel_item_name{
    color: white;
}

.my_margin_left{
    margin-left:20px;
}

.my_margin_top{
    margin-top:10px;
}

.my_hide{
    display:none;
}

.special_margin{
    margin-top:40px;
}

.dropdown-menu {
    font-size: 14px;
}