body{
    font-family: sans-serif;
    background: #F2F5F5;

}

header{
    background: black;
}

ul {
    padding:0;

}

nav ul {
    margin:0;
    height: 40px;
}

nav ul li{
    display: inline-block;
    color: white;
    height: 40px;
    padding: 10px 15px;
    margin-left:-4px;
    text-align: center;
    vertical-align: middle;
    //font-family: sans-serif;font-family: sans-serif;
    list-style-type: none;
    font-size: 14px;
    letter-spacing:0.5px;
}

nav ul li:hover{
    background: #88c32e;
}

.my_panel_title{
    height: 34px;
    color:white;
    padding: 10px 5px;
    font-size: 14px;

}

.my_panel_grey{
    background:#5F5F5F;

}

.my_panel_green{
    background: #88c32e;
    color: white;

}


.my_panel{

    margin:20px;
  //  width:30%;
//    min-width: 300px;
    box-shadow: 0 0 4px #ddd;

}




.logo{
    background: url(img/searchlight_icon_rollover.png) no-repeat;
    height: 40px;
    width: 80px;
    padding-right: 10px;
    float: left;

}

.no_padding {
    padding:0px;

}

.my_panel_item_name{
    color: #01bcda;
    font-size: 14px;
    padding: 5px 10px 5px 10px;



}

#all_accounts_table: hover{
    background: red;
    font-size: 18px;

}


.card-header {
    padding:0;
}


.top_informative_line {
    color: #78AE43;
    padding:5px 10px;
    font-weight:100;
    height: 30px;
    border-bottom: 1px solid #dddddd;


}

#category_name{
    font-size: 28px;
    padding: 5px 30px;
    font-weight:lighter;
    color: #666;

}

.icon {
    width: 20px;
    height: 20px;
    margin-bottom:5px;
    margin-left:5px;

}

.account_form_hide {
    display: None;
}




.my_panel_item{
    padding: 5px;
    font-size: 14px;
}

.nav_list li.selected{
    background:#5f5f5f;;
}


.nav_list li:hover{
    background: #88c32e;
}

#current_account{
    font-weight:400;
}


#upload_form p{
    font-size: 14px;
    margin: 5px;
}

.my_margin{
    margin: 10px;
}

//.col_half{
 //   background:red;
  //  width: 50%;
//}

#add_account_btn{
    margin:20px;
}

.table{
    font-size: 14px;
}

.table td, .table th {
    padding: 5px 0px 5px 0px;
    vertical-align: middle;


}

.item_checkbox, {
    width: 20px;
}

.item_checkbox input{
    margin-left:10px;
}

.my_panel_item_statisctic{
    margin-left: 10px;
}


