<!DOCTYPE html>
<html lang="en">

<head>
	<title> Display Direction</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<!--<link rel = 'stylesheet' href = "{% static 'css/bootstrap.min.css' %}" type = 'text/css'/>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel = 'stylesheet' href = "{% static 'categories_styles.css' %}" type = 'text/css'/>

</head>
<body >

<header>
    <nav>
        <div class = "logo"></div>
        <ul class="nav_list">
            <li id="nav_categories" class = "selected"> Categories </li>
            <li id="nav_accounts"> Accounts</li>
        </ul>
    </nav>
</header>


<div class = top_informative_line > Display Direction: <span id="current_account"></span>
</div>

<h1 > Display Direction </h1>
<h2>{{origin}} </h2>
<h2>{{destination}}</h2>
<h3>
    {% for item in steps %}
    <p> {{item}} </p>
    {% endfor%}
</h3>








<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="{% static 'main.js' %}"  ></script>

</body>



</html>







