{% extends "sl_site/main_layout.html" %}
{% block content %}
{% load staticfiles %}
<header>
    <nav>
        <div class = "logo"></div>
        <ul class="nav_list">
            <li id="nav_categories" > Categories </li>
            <li id="nav_accounts" class = "selected"> Accounts </li>
        </ul>
    </nav>
</header>

<div class = top_informative_line > Active Account: <span id="current_account"></span> </div>

<div class="row">
  <div class="col-sm-6">
      <div class="my_panel">
        <div class="my_panel_title my_panel_grey"> ALL ACCOUNTS
        </div>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col" width="70%">Name</th>
                  <th scope="col">Categories</th>
                  <th scope="col">Keywords</th>
                </tr>
              </thead>
              <tbody id = 'all_accounts_table'>
              </tbody>
           </table>

        </div>

  </div>

   <div class="col-sm-3">
           <div>
                <button id = 'add_account_btn' class="btn-sm my_panel_green"> Add Account </button>
            </div>

        <div class="my_panel account_form_hide" id="add_account_form">
                <div class="my_panel_title my_panel_green"> ADD ACCOUNT
                </div>
                <form method="post" enctype="multipart/form-data" id="upload_form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit"> Upload </button>
                </form>

        </div>


    </div>


</div>



{% endblock %}

