<!DOCTYPE html>
<html lang="en">

<head>
	<title> Searchlight Site </title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<!--<link rel = 'stylesheet' href = "{% static 'css/bootstrap.min.css' %}" type = 'text/css'/>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel = 'stylesheet' href = "{% static 'categories_styles.css' %}" type = 'text/css'/>

</head>
<body >

<header>
    <nav>
        <div class = "logo"></div>
        <ul class="nav_list">
            <li id="nav_categories" class = "selected"> Categories </li>
            <li id="nav_accounts"> Accounts</li>
        </ul>
    </nav>
</header>


<div class = top_informative_line > Active Account: <span id="current_account"></span>
</div>

<div class="my_margin">
    <div class="row">
        <div class="my_panel" style="width:600px;">
            <div class="my_panel_title my_grey">  CATEGORIES / KEYWORDS </div>
                <div class="row my_panel_row" data-item_id="0" data-indent_level="0" data-type="category" data-status="initial">
                    <div style='width:20px;' class = "my_panel_item"></div>
                    <div style='width:20px;'class = "my_panel_item"></div>
                    <div style='width:20px;' class = "my_panel_item"></div>
                    <div style='width:460px;' class = "my_panel_item">Name</div>
                    <div style='width:40px;'>
                        <img src="{% static 'img/folder_icon.png' %}" class="icon">
                    </div>
                <div style='width:40px;'>
                    <img src="{% static 'img/file_icon.png' %}" class="icon">
                </div>
            </div>
        </div>
        <div class = "my_margin_left" style="width:40%;">
                 <div class="input-group-prepend">
                     <button class="btn my_grey btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</button>
                     <div class="dropdown-menu">
                         <div class="dropdown-item" id="select_all_of">Select all of</div>
                         <div class="dropdown-item" id="select_categories_of">Select categories of</div>
                         <div class="dropdown-item" id="select_keywords_of">Select keywords of</div>
                         <div class="dropdown-item" id="select_all" >Select all </div>
                         <div class="dropdown-item" id="select_all_keywords" >Select all keywords</div>
                         <div class="dropdown-item" id="select_all_categories_and_subcategories">Select all categories and subcategories</div>
                         <div role="separator" class="dropdown-divider"></div>
                         <div class="dropdown-item" id="deselect_all">Deselect all</div>
                    </div>
                 </div>
                 <div class="input-group-prepend my_margin_top" id="operations_options">
                     <button class="btn my_grey btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Operation</button>
                     <div class="dropdown-menu">
                         <div class="dropdown-item" id="create_empty_category">Create empty category</div>
                         <div class="dropdown-item" id="create_category_with-selected">Create category with selected</div>
                         <div class="dropdown-item" id="create_category_with_all_tracked_keywords">Create category with all tracked keywords</div>
                         <div class="dropdown-item" id="add_keywords_to_selected_category"> Add keywords to selected category</div>
                         <div class="dropdown-item" id="create_category_by_similar_phrase">Create category by similar phrase</div>
                         <div class="dropdown-item">Create category by features</div>
                     <div role="separator" class="dropdown-divider"></div>
                         <div class="dropdown-item" id="run_categorization_by_similarity">Run categorization by similarity</div>
                         <div class="dropdown-item">Run categorization by features</div>
                     <div role="separator" class="dropdown-divider"></div>
                         <div class="dropdown-item" id="duplicate_selected">Duplicate selected</div>
                         <div class="dropdown-item" id="copy_selected_to">Copy selected to</div>
                         <div class="dropdown-item" id="move_selected_to">Move selected to</div>
                         <div class="dropdown-item" id="merge_selected_to">Merge selected to</div>
                     <div role="separator" class="dropdown-divider"></div>
                         <div class="dropdown-item" id="assign_feature_to_selected_keywords">Assign feature to selected keywords</div>
                     <div role="separator" class="dropdown-divider"></div>
                         <div class="dropdown-item" id="remove_selected">Remove selected</div>
                         <div class="dropdown-item" id="stop_tracking">Stop tracking</div>
                     </div>
                 </div>
                 <div class="input-group-prepend my_margin_top my_hide" id="features_options">
                     <button class="btn my_grey btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Feature</button>
                     <div class="dropdown-menu">
                         <div class="dropdown-item">Location</div>
                         <div class="dropdown-item">Brand</div>
                         <div class="dropdown-item">Color</div>
                         <div class="dropdown-item">Fabric</div>
                    </div>
                 </div>
                 <div class="input-group-prepend my_margin_top my_hide" id="location_level">
                     <button class="btn my_grey btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location Level</button>
                     <div class="dropdown-menu">
                         <div class="dropdown-item">Country</div>
                         <div class="dropdown-item">Country Short Name</div>
                         <div class="dropdown-item">Region</div>
                         <div class="dropdown-item">Region Short Name</div>
                         <div class="dropdown-item">City</div>
                         <div class="dropdown-item">City Short Name</div>
                         <div class="dropdown-item">District</div>
                         <div class="dropdown-item">District Short Name</div>
                         <div class="dropdown-item">Street</div>
                         <div class="dropdown-item">Postal Code</div>
                         <div class="dropdown-item">Geo Location</div>

                    </div>
                 </div>

                 <div class="input-group-prepend my_margin_top my_hide" id="feature_criteria">
                     <button class="btn my_grey btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Criteria</button>
                     <div class="dropdown-menu">
                         <div class="dropdown-item">Equals to</div>
                         <div class="dropdown-item">Does not equal to</div>
                         <div class="dropdown-item">Contains</div>
                         <div class="dropdown-item">Does not contain</div>
                         <div class="dropdown-item">Is not empty</div>
                         <div class="dropdown-item">Is empty</div>
                    </div>
                 </div>


                <div class="my_margin_top">
                    <button class="btn my_green btn-sm my_hide" type="button" id="apply_operation_button">Apply operation</button>

                </div>


        </div>
    </div>
</div>







<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="{% static 'main.js' %}"  ></script>

</body>



</html>







