<div>
<div id="categories_tree">
    <div class="card">
      <div class="card-header" id="header_level_0_0">


        <button class="btn btn-link">
            All Keywords
        </button>
      </div>
      <div id="body_level_0_0" >
        <div class="card-body">
          body text
        </div>
      </div>
    </div>


  </div>
</div>
</div>